body {
	background-color: lightgrey;
}
#title {
	 text-align: center;
	 color: darkblue;
	 font-size: 28px;
	 font-weight: 700;
}
#quote-add {
	border: 1px solid black;
	height: 57px;
	border-radius: 6px;
	font-size: 28px;
	cursor: pointer;
	color: green;
	font-weight: 500;
	overflow: hidden;
	background-color: white;
}
#quote-add-p {
	text-align: center;
	line-height: 55px;
}
#addform {
	display: none;
	width: 100%;
	font-size: 28px;
	color: black;
	font-weight: 600;
}
#addform input {
	width: 100%;
}
#textarea {
	width: 100%;
	height: 120px;
	border: 1px solid black;
}
#login {
	position: absolute;
	right: 10px;
	top: 5px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	z-index: 101;
}
#loginblock {
	display: none;
	position: absolute;
	background-color: #fff;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 50px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}
input {
	border: 1px solid black;
	border-radius: 5px;
	margin: 2px;
	padding: 2px;
	font-size: 26px;
}
.button {
	background-color: lightgreen;
	cursor: pointer;
	font-size: 20px;
}
#addform {
	margin: 10px;
}
span {
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	color: blue;
}
#search {
	width: 100%;
	border: 1px solid black;
	margin-top: 5px;
	padding: 3px;
	font-size: 28px;
}
.quote-block {
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}
#dark {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}